@import "./assets/styles/semantic.global.scss";
@import "./assets/styles/components.global.scss";
@import "./assets/styles/grid.global.scss";
@import "./assets/styles/titlebar.global.scss";
@import "./assets/styles/colorPicker.global.scss";
@import "./assets/styles/spinners.global.scss";

.ui {
  border-radius: 0em !important;
}
.ui.segments {
  border: 0px !important;
  box-shadow: initial !important;
}
textarea:focus {
  outline: none !important;
  outline-color: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@-webkit-keyframes scrolling-text {
  50% {
    left: -27%;
    width: 130%;
  }
  60% {
    left: 0%;
    width: 100%;
  }
}

@keyframes scrolling-text {
  50% {
    left: -27%;
    width: 130%;
  }
  60% {
    left: 0%;
    width: 100%;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(23, 26, 22, 0);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(23, 26, 22, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.05);
}
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  text-indent: 0;
  animation: marquee 6s linear infinite;
}
/*.marquee span:hover {
  animation-play-state: paused
}*/

/* Make it move */
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

* {
  font-family: 'geosanslight-nmsregular';
}

.hide {
  display: none !important;
}

.md-p {
  margin-bottom: 8px;
}

.nmcTip {
  border-radius: 0px !important;
  background-color: rgb(23, 26, 22) !important;
  display: inline !important;
  padding: 2px 4px !important;
  z-index: 1003 !important;
}

.ui.input.focus input, .ui.input input:focus {
  border-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.ui.input input:active, .ui.input.down input {
  border-color: rgba(0, 0, 0, 0);
}

.textCentered {
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

.cursorDefault {
  cursor: default !important;
}

.iconTransparent {
  width: 250px;
  -webkit-user-select: initial;
  -webkit-app-region: no-drag;
  font-size: 15px;
}

.cursorDefaultIcon {
  cursor: default;
  padding: 0px;
}

.noDrag {
  -webkit-app-region: no-drag;
}

.item-disabled {
  opacity: 0.7 !important;
}

.recharts-legend-item-text:hover, .recharts-legend-wrapper > ul > li > svg > path:hover {
  cursor: pointer;
}
